<% include ../menus/top_menu %>

<div class="container">
<div class="jumbotron">
    <h1><%- __('error.title.'+error_code) %> </h1>
    <p>
        <%- __('error.description.'+error_code) %>
    </p>
</div>
</div>
