<div class="container">
<div class="jumbotron">
    <h1><%- __('error.title.'+error_code) %> </h1>
    <p>
        <%- __('error.description.'+error_code) %>
    </p>
    <% if(err) { %>
    <pre><%= err.stack %></pre>
    <% } %>
</div>
</div>
