<h2 class="text-center"><%= __("Core.Authorization.ConfirmEmail.confirm_email_description") %></h2>
<div class="text-center"><a href="<%= confirmation %>" class="btn btn-primary">
        <%= __("Core.Authorization.ConfirmEmail.confirm_email_button") %>
</a></div>