<p class="text-center lead"><%= __("Core.Authorization.ConfirmEmail.confirm_email_description") %></p>
<div class="text-center"><a href="<%= confirmation %>" class="btn btn-primary">
        <%= __("Core.Authorization.ConfirmEmail.confirm_email_button") %>
</a></div>